<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" fixedInViewport>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Ropero Solidario </span>
    <span class="example-spacer"></span>
  
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="true" fixedTopGap="56">
      <mat-nav-list (click)="isMobile && snav.toggle()">
        <div class="row">
        <div>
          <a mat-list-item routerLink="/dashboard/ropero"><span class="material-icons list-icons">checkroom</span>Ropero</a>
          <a mat-list-item routerLink="/dashboard/additem"><span class="material-icons list-icons">add</span>Agregar</a>
          <a mat-list-item routerLink="/dashboard/pedidos"><span class="material-icons list-icons">group</span>Pedidos</a>
          <a mat-list-item routerLink="/dashboard/categorias"><span class="material-icons list-icons">folder</span>Categorías</a>
          <a mat-list-item routerLink="/dashboard/papelera"><span class="material-icons list-icons">delete</span>Papelera</a>
        </div>
        <div class="flex"></div>
        <div>
          <a mat-list-item routerLink="/dashboard/configuracion"><span class="material-icons list-icons">settings</span>Configuración</a>
          
        </div>
        
        </div>
      </mat-nav-list>
      <p class="api-check">v1.0.0 - API health: {{apiStatusCode}}</p>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>