.mat-toolbar {
  height: 56px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-raised-button {
  margin: 5px;
}

.mat-sidenav-content {
  height: 100vh;
}

.list-icons {
  margin-right: 15px;
}
