<div class="container">
  <mat-toolbar class="second-row">
    <span>Categorías</span>
  </mat-toolbar>

  <mat-card class="main-card">
    <div class="contenedor wrap">

      <div class="item lista-categorias">
        <br />
        <mat-card-title>Editar categorías:</mat-card-title>
        <br />
        <mat-chip-list aria-label="Lista de categorías">
          <mat-chip color="accent" selected *ngFor="let item of categoriesNames">{{item}}</mat-chip>
        </mat-chip-list>
      </div>

      <div class="item lista-acciones">
        <br />
        <mat-card-title style="text-align: center;">Acciones:</mat-card-title>
        <br />
        <mat-form-field class="example-full-width" appearance="fill" style="width: 220px">
          <mat-label>Añadir categoría</mat-label>
          <input matInput type="string" autocomplete="off" [(ngModel)]="selectedAddCategory">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="addCategoryClick()">Añadir</button>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 220px">
          <mat-label>Eliminar categoría</mat-label>
          <mat-select [(value)]="selectedDelCategory" disableRipple>
            <mat-option value="{{item}}" *ngFor="let item of categoriesNames">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="delCategoryClick()">Eliminar</button>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 220px">
          <mat-label>Seleccionar categoría</mat-label>
          <mat-select [(value)]="selectedEditCategory" disableRipple>
            <mat-option value="{{item}}" *ngFor="let item of categoriesNames">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill" style="width: 220px">
          <mat-label>Nuevo nombre de categoría</mat-label>
          <input matInput type="string" autocomplete="off" [(ngModel)]="selectedEditNewCategory">
        </mat-form-field>
        <button mat-stroked-button color="primary" (click)="editCategoryClick()">Editar</button>

      </div>
    </div>
  </mat-card>
</div>

<pre>{{ categoriesList | json }}</pre>