.main-card {
  text-align: center;
}

.contenedor {
  display: flex;
  justify-content: space-evenly;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.lista-categorias {
  max-width: 400px;
}

.lista-acciones {
  max-width: 320px;
  text-align: left;
}

/* 
https://www.delftstack.com/es/howto/css/resize-image-css/ 
https://sharkcoder.com/layout/flexbox
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/
