<div class="split left"></div>

<div class="split right">
  <mat-card class="centered">
    <div class="login">
      <form [formGroup]="form" (ngSubmit)="ingresar()">
        <h1>Ingresar</h1>
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput autocomplete="off" type="email" formControlName="email" />
        </mat-form-field>
        <br />
        <mat-form-field class="ancho" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput autocomplete="off" type="password" formControlName="password" />
        </mat-form-field>
        <br />
        <mat-card-actions>
          <button type="submit" mat-raised-button color="primary" class="ancho button" [disabled]="form.invalid">
            Ingresar
          </button>
        </mat-card-actions>
      </form>
    </div>
  </mat-card>
</div>