table {
  width: 100%;
  margin-top: 10px;
}

mat-paginator {
  margin-bottom: 10px;
}

tr.mat-row:hover {
  background-color: #f2e7fe;
}

.filtro {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
