/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
}

.second-row {
  height: 48px;
  color: white;
  background-color: #e8b5a9;
}

.mat-toolbar {
  background-color: #ff8790;
}

.mat-toolbar.mat-primary {
  background-color: #bc353e;
}

.mat-raised-button.mat-primary {
  background-color: #e94b56;
}

@media only screen and (max-width: 600px) {
  .container {
    margin: auto;
  }

  .filtro {
    margin-left: 5%;
  }
}
